#hx-map {
 width:100%;
 height:100%;
 -ms-flex-positive:1;
 flex-grow:1;
 position:relative
}
#hx-map img {
 min-width:0!important;
 max-height:none!important
}
#hx-map .amap-copyright,
#hx-map .amap-logo,
#hx-map .anchorBL {
 display:none!important
}
#hx-map .amap-icon img {
 top:0;
 left:0
}
.amap-marker-label {
 background-color:rgba(0,0,0,.3);
 color:#fff;
 border:0
}
.hx-preview-position .am-modal-body {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-direction:column;
 flex-direction:column;
 -ms-flex-align:stretch;
 align-items:stretch
}
.hx-preview-position-title {
 padding:15px 0;
 font-size:17px;
 color:#333
}
.hx-preview-position-btn {
 -ms-flex-negative:0;
 flex-shrink:0;
 border-radius:0;
 color:#51aeff
}
.am-accordion {
 position:relative;
 border-top:1px solid #ddd
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
 html:not([data-scale]) .am-accordion {
  border-top:none
 }
 html:not([data-scale]) .am-accordion:before {
  content:"";
  position:absolute;
  background-color:#ddd;
  display:block;
  z-index:1;
  top:0;
  right:auto;
  bottom:auto;
  left:0;
  width:100%;
  height:1PX;
  -ms-transform-origin:50% 50%;
  transform-origin:50% 50%;
  -ms-transform:scaleY(.5);
  transform:scaleY(.5)
 }
}
@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
 html:not([data-scale]) .am-accordion:before {
  -ms-transform:scaleY(.33);
  transform:scaleY(.33)
 }
}
.am-accordion-anim-active {
 transition:all .2s ease-out
}
.am-accordion .am-accordion-item .am-accordion-header {
 position:relative;
 color:#333;
 font-size:17px;
 height:44px;
 line-height:44px;
 background-color:#fff;
 box-sizing:content-box;
 padding-left:15px;
 padding-right:30px;
 border-bottom:1px solid #ddd;
 width:auto;
 overflow:hidden;
 text-overflow:ellipsis;
 white-space:nowrap
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header {
  border-bottom:none
 }
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header:after {
  content:"";
  position:absolute;
  background-color:#ddd;
  display:block;
  z-index:1;
  top:auto;
  right:auto;
  bottom:0;
  left:0;
  width:100%;
  height:1PX;
  -ms-transform-origin:50% 100%;
  transform-origin:50% 100%;
  -ms-transform:scaleY(.5);
  transform:scaleY(.5)
 }
}
@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-header:after {
  -ms-transform:scaleY(.33);
  transform:scaleY(.33)
 }
}
.am-accordion .am-accordion-item .am-accordion-header i {
 position:absolute;
 display:block;
 top:15px;
 right:15px;
 width:15px;
 height:15px;
 background-image:url("data:image/svg+xml;charset=utf-8,%3Csvg width='16' height='26' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 0L0 2l11.5 11L0 24l2 2 14-13z' fill='%23C7C7CC' fill-rule='evenodd'/%3E%3C/svg%3E");
 background-size:contain;
 background-repeat:no-repeat;
 background-position:50% 50%;
 -ms-transform:rotate(90deg);
 transform:rotate(90deg);
 transition:transform .2s ease
}
.am-accordion .am-accordion-item .am-accordion-header[aria-expanded~=true] i {
 -ms-transform:rotate(270deg);
 transform:rotate(270deg)
}
.am-accordion .am-accordion-item .am-accordion-content {
 overflow:hidden;
 background:#fff
}
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box {
 font-size:15px;
 color:#333;
 position:relative;
 border-bottom:1px solid #ddd
}
@media (-webkit-min-device-pixel-ratio:2),(min-resolution:2dppx) {
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box {
  border-bottom:none
 }
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box:after {
  content:"";
  position:absolute;
  background-color:#ddd;
  display:block;
  z-index:1;
  top:auto;
  right:auto;
  bottom:0;
  left:0;
  width:100%;
  height:1PX;
  -ms-transform-origin:50% 100%;
  transform-origin:50% 100%;
  -ms-transform:scaleY(.5);
  transform:scaleY(.5)
 }
}
@media (-webkit-min-device-pixel-ratio:2) and (-webkit-min-device-pixel-ratio:3),(min-resolution:2dppx) and (min-resolution:3dppx) {
 html:not([data-scale]) .am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box:after {
  -ms-transform:scaleY(.33);
  transform:scaleY(.33)
 }
}
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box .am-list-body {
 border-top:0
}
.am-accordion .am-accordion-item .am-accordion-content .am-accordion-content-box .am-list-body:before {
 display:none!important
}
.am-accordion .am-accordion-item .am-accordion-content.am-accordion-content-inactive {
 display:none
}
.hx-call-icon {
 width:18px;
 margin-left:10px
}
.hx-call-tel {
 font-size:15px;
 color:#333
}
.hx-title-default,
.hx-title-detail,
.hx-title-filter,
.hx-title-group {
 font-size:14px;
 padding:10px 0;
 margin:0 15px;
 -ms-flex-negative:0;
 flex-shrink:0;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center;
 -ms-flex-pack:start;
 justify-content:flex-start
}
.hx-title-default-dot,
.hx-title-detail-dot,
.hx-title-filter-dot,
.hx-title-group-dot {
 -ms-flex-negative:0;
 flex-shrink:0;
 margin-right:5px
}
.hx-title-detail-dot {
 background-color:#51aeff;
 width:4px;
 height:12px
}
.hx-title-filter-dot {
 box-sizing:border-box;
 width:12px;
 height:12px;
 background-color:#fff;
 border:2px solid #51aeff;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center;
 -ms-flex-pack:center;
 justify-content:center
}
.hx-title-filter-dot:before {
 content:"";
 display:block;
 background-color:#51aeff;
 width:4px;
 height:4px
}
.hx-title-group-dot {
 width:4px;
 height:4px;
 background-color:#999
}
.hx-detail {
 -ms-flex-negative:0;
 flex-shrink:0
}
.hx-detail-statusIcon {
 position:absolute;
 width:92px;
 top:10px;
 right:15px;
 z-index:99
}
.hx-detail-content {
 background-color:#fff
}
.hx-detail-empty {
 margin-bottom:10px
}
.hx-detail-item {
 display:-ms-flexbox;
 display:flex;
 line-height:18px;
 padding:0 15px 16px;
 font-size:14px
}
.hx-detail-item-field,
.hx-detail-item-label {
 font-size:15px
}
.hx-detail-item-label {
 width:78px;
 color:#999;
 text-align:right;
 -ms-flex-negative:0;
 flex-shrink:0
}
.hx-detail-item-field {
 color:#333;
 margin-left:10px;
 -ms-flex:1 1;
 flex:1 1;
 word-break:break-all;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -ms-flex-align:start;
 align-items:flex-start;
 -ms-flex-pack:start;
 justify-content:flex-start;
 overflow:hidden
}
.hx-detail .hx-detail-item:first-of-type {
 padding-top:16px
}
.hx-detail-accordion {
 border:0!important
}
.hx-detail-accordion.am-accordion:after,
.hx-detail-accordion.am-accordion:before {
 display:none!important
}
.hx-detail-accordion .am-accordion-header {
 height:auto!important;
 line-height:inherit!important;
 padding:0!important;
 font-size:14px!important;
 display:-ms-flexbox;
 display:flex;
 -ms-flex-align:center;
 align-items:center;
 -ms-flex-pack:start;
 justify-content:flex-start;
 border:0!important
}
.hx-detail-accordion .am-accordion-header:after {
 display:none!important
}
.hx-detail-accordion .am-accordion-header i {
 top:50%!important;
 -ms-transform:translateY(-50%) rotate(90deg)!important;
 transform:translateY(-50%) rotate(90deg)!important;
 right:15px!important
}
.hx-detail-accordion .am-accordion-header[aria-expanded~=true] i {
 -ms-transform:translateY(-50%) rotate(270deg)!important;
 transform:translateY(-50%) rotate(270deg)!important
}
.hx-detail-accordion .am-accordion-header>.hx-detail-item {
 width:100%;
 -ms-flex-align:center;
 align-items:center
}
.hx-detail-accordion .am-accordion-content-box:after {
 display:none!important
}
.hx-detail-accordion .am-accordion-content-box>.hx-detail-item:first-of-type {
 padding-top:0
}
.hx-detail-image {
 display:-ms-flexbox;
 display:flex;
 -ms-flex-wrap:wrap;
 flex-wrap:wrap;
 -ms-flex-align:center;
 align-items:center;
 -ms-flex-pack:start;
 justify-content:flex-start;
 -ms-flex-positive:1;
 flex-grow:1;
 overflow:hidden
}
.hx-detail-PreviewPosition {
 color:#51aeff;
 cursor:pointer
}
.hx-detail-grouping:before {
 content:"";
 display:block;
 background-color:#f5f6fa;
 width:100%;
 height:10px
}
.hx-detail-grouping .hx-title-group {
 border-bottom:1px dashed #e5e5e5;
 margin-bottom:16px
}
.hx-detail-grouping+.hx-detail-item {
 border-top:10px solid #f5f6fa;
 padding-top:16px
}
