.header {
    display: flex;
    flex: none;
    height: 48px;
    align-items: center;
    background-color: #6cb0f9;
    color: white;
}

.button-back, .button-close, .button-menu {
    height: 100%;
    aspect-ratio: 1;
}

.title {
    font-size: 18px;
    flex: auto;
}

.hx-content {
    flex: auto;
}

.hx-detail-statusIcon {
    top: 58px !important;
}