<html>

<head>
    <meta charset="utf-8">
    <title>{{student_name}}的请销假</title>
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <meta name="viewport" content="initial-scale=1, maximum-scale=3, minimum-scale=1, user-scalable=no">
    <meta content="telephone=no" name="format-detection">
    <meta name="renderer" content="webkit">
    <link rel="stylesheet" href="./umi.780e88b3.css">
    <script charset="utf-8" src="./layouts__index.721bf05c.async.js"></script>
    <link rel="stylesheet" type="text/css"
        href="./vendors~p__approve__index~p__index~p__initiate__index~p__preview__index~p__share__index.41a291b0.chunk.css">
    <script charset="utf-8"
        src="./vendors~p__approve__index~p__index~p__initiate__index~p__preview__index~p__share__index.4427b872.async.js"></script>
    <link rel="stylesheet" type="text/css"
        href="./vendors~p__approve__index~p__initiate__index~p__preview__index~p__share__index.5de02372.chunk.css">
    <script charset="utf-8"
        src="./vendors~p__approve__index~p__initiate__index~p__preview__index~p__share__index.c5bb4fe7.async.js"></script>
    <link rel="stylesheet" type="text/css" href="./vendors~p__approve__index~p__share__index.8593bd49.chunk.css">
    <script charset="utf-8" src="./vendors~p__approve__index~p__share__index.b608f471.async.js"></script>
    <link rel="stylesheet" type="text/css" href="./vendors~p__approve__index.4c338eb8.chunk.css">
    <script charset="utf-8" src="./vendors~p__approve__index.967f8682.async.js"></script>
    <link rel="stylesheet" type="text/css" href="./p__approve__index.a843def6.chunk.css">
    <script charset="utf-8" src="./p__approve__index.5381d8df.async.js"></script>
</head>

<body>
    <div id="root">
        <div class="hx-layout">
            <main class="hx-content">
                <div class="wfTitle___Y-ebx">{{student_name}}的请销假</div>
                <div class="hx-detail">
                    <div class="hx-detail-group">
                        <div class="hx-title-detail">
                            <div class="hx-title-detail-dot"></div>申请人
                        </div>
                        <div class="hx-detail-content">
                            <div class="am-accordion hx-detail-accordion">
                                <div class="am-accordion-item">
                                    <div class="am-accordion-header" role="button" tabindex="0" aria-expanded="false"><i
                                            class="arrow"></i>
                                        <div class="hx-detail-item"><span class="hx-detail-item-label">姓名</span>
                                            <div class="hx-detail-item-field">
                                                <div
                                                    class="am-flexbox am-flexbox-justify-start am-flexbox-align-center">
                                                    {{student_name}}({{student_id}})</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hx-detail">
                    <div class="hx-detail-group">
                        <div class="hx-title-detail">
                            <div class="hx-title-detail-dot"></div>申请内容
                        </div>
                        <div class="hx-detail-content">
                            <div class="hx-detail-item"><span class="hx-detail-item-label">审批编号</span>
                                <div class="hx-detail-item-field">{{audit_id}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">是否离校</span>
                                <div class="hx-detail-item-field">是</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">是否离开沈阳</span>
                                <div class="hx-detail-item-field">否</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">是否离开辽宁省</span>
                                <div class="hx-detail-item-field">否</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">前往省份、城市</span>
                                <div class="hx-detail-item-field"></div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">开始时间</span>
                                <div class="hx-detail-item-field">{{start_time}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">结束时间</span>
                                <div class="hx-detail-item-field">{{end_time}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">时长</span>
                                <div class="hx-detail-item-field">{{hours}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">请假类型</span>
                                <div class="hx-detail-item-field">{{type}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">本人联系电话</span>
                                <div class="hx-detail-item-field">{{student_phone}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">紧急联系人</span>
                                <div class="hx-detail-item-field">{{emergency_contact}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">紧急联系电话</span>
                                <div class="hx-detail-item-field">{{emergency_phone}}</div>
                            </div>
                            <div class="hx-detail-item"><span class="hx-detail-item-label">请假原因</span>
                                <div class="hx-detail-item-field">
                                    {{reason}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hx-detail">
                    <div class="hx-detail-group">
                        <div class="hx-title-detail">
                            <div class="hx-title-detail-dot"></div>审批进度
                        </div>
                        <div class="hx-detail-content">
                            <div class="flowInfo___244V-">
                                <div class="flownode___1GTd6 node2___1yk73" v-for='num, approver of approvers'>
                                    <div class="nodestate___Npp7u"><span>通过</span><span
                                            class="stateTime___2bJzR">{{state_time}}</span></div>
                                    <div class="nodeleft___2q7Sg"><span class="nodeindex___Cya0J">{{num + 1}}</span></div>
                                    <div class="noderight___urUWJ">
                                        <div style="margin-top: 0px;" class="nodeapprover___1KJaE">
                                            <div>
                                                <div>{{approver.name}}({{approver.id}})<span class="workTime___PJH95">{{approver.time}}</span></div>
                                                <div class="approverOpinion___3xcsE"><span
                                                        style="color: rgb(135, 208, 104);">已同意</span></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flownode___1GTd6">
                                    <div class="nodeend___sR2u9"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="hx-detail" v-if='ccs'>
                    <div class="hx-detail-group">
                        <div class="hx-title-detail">
                            <div class="hx-title-detail-dot"></div>已抄送
                        </div>
                        <div class="hx-detail-content">
                            <div class="ccInfo___T7Slb">
                                <div v-for='cc of ccs'>{{cc.name}}({{cc.id}})</div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
            <div class="hx-footer"><a role="button" class="am-button hx-footer_btn" style="color: rgb(87, 191, 242);"
                    aria-disabled="false"><span>转发审批表单</span></a></div>
        </div>
    </div>

    <script src="./umi.4de2e851.js"></script>


    <img class="hx-detail-statusIcon" src="./initiate-2.0a5010df.png">
</body>

</html>