html, body{
    background-color: white;
    overflow: hidden;
}

*{
    box-sizing: border-box;
}

#root{
    display: flex;
    flex-direction: column;
    height: 100%;
}

input{
    display: block;
    flex: 1 1 0;
    border: 1px solid gray;
    margin: 1px;
    min-width: 0;
}

.header {
    display: flex;
    flex: none;
    height: 48px;
    align-items: center;
    background-color: #6cb0f9;
    color: white;
}

.content{
    flex: auto;
    min-height: 0;
    overflow: auto;
}

button{
    display: block;
    border: none;
    margin: 1px;
    background-color: #6cb0f9;
    color: white;
}

.edit .header{
    padding: 0 16px;
}

h1{
    text-align: center;
}

.row{
    display: flex;
}

.row.labels{
    padding-right: 26px;
}

.label{
    flex: 1 1 0;
    margin: 0 4px;
}

.delete{
    width: 24px;
}

.add{
    width: 64px;
    margin: 1px auto;
}

.final{
    display: flex;
    font-size: large;
    text-align: center;
}

.final button{
    flex: 1 1 0;
    margin: 2px 1px;
}

.button-back, .button-close, .button-menu {
    height: 100%;
    aspect-ratio: 1;
}

.title {
    font-size: 18px;
    flex: auto;
}

.hx-content {
    flex: auto;
}

.hx-detail-statusIcon {
    top: 58px !important;
}